@charset "UTF-8";



.auction-section{
	display: flex;
	justify-content: center;
}
.section-title{
	padding : 10px 0px;
	text-align: center;
}
.new-auction{
	width: 50%;
}
.new-auction>a{
	display: flex;
	color: #191f28;
	padding: 20px;
}
.last-auction>a{
	color: #191f28;
}
.last-auction{
	width: 40%;
}
.last-content{
	display: flex;
	margin: 20px auto;
	justify-content: center;
}
.last-info{
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.newAuc-pic{
	width: 180px; height: 180px;
	box-shadow: 1px 1px 1px 1px #ccc;
	margin-right: 30px;
}
.lastAuc-pic{
	width: 80px; height: 80px;
	box-shadow: 1px 1px 1px 1px #ccc;
	margin-right: 30px;
}
.newAuc-pic>img, .lastAuc-pic>img{
	width: 100%; height: 100%;
	object-fit: cover;
}
.newAuc-info{
	display: flex;
	flex-direction: column;
	
	width: calc( 100% - 230px );
}
.newAuc-info>*{
	margin-bottom: 10px;
}
.newAuc-info>h2:last-child{
	margin: 30px 0px 0px 0px;
}
.badge{
	font-family: ns-light;
	margin-left: 10px;;
}


.donation-main{
	display: flex;
	width: 100%;
}
.donation-main>div{
	border: 2px solid #ff82ab;
	margin: 10px;
	width: 20%;
	height: 200px;
	display: flex;
	cursor: pointer;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation-main>div:hover{
	transition: 0.5s;
	border: 2px solid #1e90ff;
	align-items: flex-start;
	color:1e90ff;
	
}
.fundingProduct{
	display: flex;
	width: 1200px;
	justify-content: center;
	
}
.fundingProduct>div{
	width:200px;
	height:200px;
	border: 1px solid black;
	margin: 20px;
}
.